[project]
	description = app for users to register, login, add and delete and upload files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ratchelfurlong
[access "refs/for/refs/*"]
	read = group user/ratchelfurlong
	push = group user/ratchelfurlong
	label-Code-Review = -2..+2 group user/ratchelfurlong
	label-Verified = -1..+1 group user/ratchelfurlong
	rebase = group user/ratchelfurlong
	removeReviewer = group user/ratchelfurlong
	submit = group user/ratchelfurlong
[access "refs/heads/*"]
	read = group user/ratchelfurlong
	create = group user/ratchelfurlong
	push = +force group user/ratchelfurlong
	pushMerge = group user/ratchelfurlong
[access "refs/tags/*"]
	push = group user/ratchelfurlong
	push = +force group user/ratchelfurlong
