{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<h2><u>Problem 1: Easy</u></h2>
	<div>
		<h4>Description:</h4>
		<p>Given a list of size 2 to 100 delimited space characters, print out the reverse of the list with every element raised to the 2nd power and then divided by 2 (integer division).</p><br>
		<h5>Sample Input:</h5>
		<p>
		1 2 3 4 5<br>
		6 2 74 234 754 12 672 31235 1 900000
		</p>
		<h5>Sample Output:</h5>
		<p>
		12 8 4 2 0<br>
		405000000000 0 487812612 72 284258 27378 2738 2 18
		</p>
	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}