{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<h2><u>Problem 1</u></h2>
	<div>
		
		<h4>Problem Difficulty: Easy</h4>

		<h4>Description:</h4>
		<p>Given a list of integers, for each element of the list square the element divide by two then print the reverse of the resulting list.</p>

		<h5><u>Sample Input:</u></h5>
		<p>
		1 2 3 4 5<br>
		6 2 74 234 754 12 672 31235 1 900000
		</p>
		<h5><u>Sample Output:</u></h5>
		<p>
		12 8 4 2 0<br>
		405000000000 0 487812612 72 284258 27378 2738 2 18
		</p>
	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group {% if form.errors.confirm %} error {% endif %}">
			{{ form.recaptcha }}
			{% for error in form.errors.recaptcha %}
            <span class="help-inline">{{error}}</span><br>
            {% endfor %}
		</div>
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}
