{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}

<div class="well">
    <h2><u>Problem 16</u></h2>
	<div>

		<h4>Problem Difficulty: Medium</h4>

		<h4><u>Description:</u></h4>
		<p>The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.<br>
		Find the sum of all the primes below n (n < 100000000). <br>
		</p>

		<p>Print the sum of all primes below n to the console (your normal print function: i.e. 'print(sum_of_primes)'' for python3)</p>
	
		<h5><u>Sample Input:</u></h5>
		<p>
		54<br>
		9 <br>
		</p>

		<h5><u>Sample Output:</u></h5>
		<p>
		430<br>
		17<br>   
		</p>

	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group {% if form.errors.confirm %} error {% endif %}">
			{{ form.recaptcha }}
		</div>
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}
