{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}

<div class="well">
	<h2><u>Problem 21</u></h2>
	<div>

		<h4>Problem Difficulty: Hard</h4>

		<h4>Description:</h4>
		<p>A robot starts at the top left corner of a grid. The robot is very confused, as the application that controls his navigation has a bug in it!<br>
		The robot is trying to get to the bottom right corner, but has no idea how to get there. Given a grid of size n x n, how many paths are there for the robot to get to the bottom right corner given he can go up, down, left, or right, but cannot revisit a space it has already visited during the current route being taken.</p>

		<h5><u>Sample Input:</u></h5>
		<p>
		4
		</p>
		<h5><u>Sample Output:</u></h5>
		<p>
		184
		</p>
	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group {% if form.errors.confirm %} error {% endif %}">
			{{ form.recaptcha }}
		</div>
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}