{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}

<div class="well">
    <h2><u>Problem 28</u></h2>
	<div>

		<h4>Problem Difficulty: Hard</h4>

		<h4><u>Description:</u></h4>
		<p>
			A little turtle is trying to walk along the perimeter of a pond. Given a grid representing the pond (pond is represented by "O"), generate the perimeter string “4-2-2-2-3-2-2-2-2-5” which represents the numbers of pixels of the external (horizontal and vertical) edges of the pond as the turtle moves clockwise.
		</p>

		<p>
			The turtle will start at the "." directly above the top-most "O" in the left-most column where there exists an "O", walk clockwise around the pond, and stop at the "." it started at.<br/>
			You can assume that the grid will always be 10x10. Only find the perimeter of a pond that the turtle is currently at, do not find the perimeter of another pond is they are not connected by an "O" (See Sample Input/Output 2).
		</p><br>
		
		<h5><u>Sample Input 1:</u></h5>
		<p>
			..........</br>
			..OOO.....</br>
			..OOOOOO..</br>
			......OO..</br>
			.....OOO..</br>
			....OOOO..</br>
			...OOOOO..</br>
			...OOOO...</br>
			...O......</br>
			..........
		</p>

		<h5><u>Sample Output 1:</u></h5>
		
		<p>
			4-2-4-7-2-2-4-2-3-5-2-2-2-2-2-1-5-4-2
		</p>
		
		<h5><u>Sample Input 2:</u></h5>
		<p>
			..........</br>
			..OOOO....</br>
			..OO......</br>
			..........</br>
			..........</br>
			....OOOO..</br>
			....OOOO...</br>
			...OOOO...</br>
			...OOO....</br>
			..........
		</p>

		<h5><u>Sample Output 2:</u></h5>
		
		<p>
			5-3-3-2-4-4-2
		</p>
	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group {% if form.errors.confirm %} error {% endif %}">
			{{ form.recaptcha }}
			{% for error in form.errors.recaptcha %}
            <span class="help-inline">{{error}}</span><br>
            {% endfor %}
		</div>
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}