{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<h2><u>Problem 29</u></h2>
	<div>

		<h4>Problem Difficulty: Hard</h4>

		<h4><u>Description:</u></h4>
		<p>
			Madhan is a PhD student trying to figure out his H-index. An H-index is defined as an index that attempts to measure both the productivity and impact of the published work of a scientist or scholar. Given the number of papers written by Madhan and the number of other papers which cite his work, the H-index will be the maximun <b>n</b> such that: Madhan has <b>n</b> papers with at least <b>n</b> citations. Madhan is impatient and wants his H-index as fast as possible, so solve this problem in linear time.
		</p>
		
		<p>
			You will be given a sequence of integers representing the number of citations for each of Madhan's papers. Output the H-index (as an integer). You will only receive full points if you can output the correct H-index in linear time. If the program takes more than linear time but still gives the correct H-index, you will receive half points. The end of inputs and outputs our denoted by -1.
		</p>
		
		<h5><u>Sample Input:</u></h5>
		<p>
			5
			3
			2
			3
			4
			-1
		</p>

		<h5><u>Sample Output:</u></h5>
		<p>
			3
		</p>
	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}
