{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<h2><u>Problem 3: Easy</u></h2>
	<div>
		<h4><u>Description:</u></h4>
		<p>Find the nth prime number. In case you need refreshing, a prime number is any number n that has only two divisors, 1 and n. Given a number n, print the nth prime number. For our inputs, 1 &#8804 n &#8804 10000</p>
		
		<h5><u>Sample Input:</u></h5>
		<p>
		10<br>
		100<br>
		</p>

		<h5><u>Sample Output:</u></h5>
		<p>
		29<br>
		541<br>
		</p>
	</div>
</div>

<div class="well">
	<h4><u>Upload Submission</u></h4>
	<form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="control-group">
        	{{ form.upload }}
            <input id="submit_button" type="submit" class="btn btn-success" value="Upload">		
        </div>
    </form>
</div>

{% endblock %}