{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<div>
		<div style="float: left;" class="">
		    <h2>Team: {{ title }}</h2>
		</div>
		<div style="float: right; width: 200px;">
    		<h2>Score: {{ score }}</h2>
		</div>
		<br style="clear: left;" />
	</div>
    <div>
		<table class="table table-striped">
			<tr>
				<th>Easy</th>
				<th>Status</th>
				<th>Medium</th>
				<th>Status</th>
				<th>Hard</th>
				<th>Status</th>
			</tr>
			{% for i in range(10) %}
			<tr>
				<td><a href="{{ url_for('upload', problem_num = challenges[i].problem_number) }}">
					Problem {{ challenges[i].problem_number }}</a>
				</td>
				<td>
					{{ challenges[i].status }}
				</td>

				<td><a href="{{ url_for('upload', problem_num = challenges[i+10].problem_number) }}">
					Problem {{ challenges[i+10].problem_number }}</a>
				</td>
				<td>
					{{ challenges[i+10].status }}
				</td>

				<td><a href="{{ url_for('upload', problem_num = challenges[i+20].problem_number) }}">
					Problem {{ challenges[i+20].problem_number }}</a>
				</td>
				<td>
					{{ challenges[i+20].status }}
				</td>	
			</tr>
			{% endfor %}
		</table>
    </div>
</div>
{% endblock %}

