{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<h2><u>Problem 1</u></h2>
	<div>
		<h4>Description:</h4>
		<p>Given a list of size 2 to 100 delimited by a space character, print out the reverse of the list</p><br>
		<h5>Sample Input:</h5>
		<p>1 2 3 4 5</p><br>
		<h5>Sample Output:</h5>
		<p>5 4 3 2 1</p>
	<div>
	<div>
		<form class="form-inline" action="" method="post" enctype="multipart/form-data">
	        {{form.hidden_tag()}}
	        <div class="input-group">
	            <div class="input-group-btn">
	                {{ form.upload }}
	            </div><br>
	            <input class="btn btn-primary form-control" type="submit" value="Upload">
	        </div>
	    </form>
	</div>
</div>

{% endblock %}