<div class="well">
    <h2><u>Problem Number</u></h2>
	<div>

		<h1>LEVEL OF DIFFICULTY: ____(easy, medium, hard)_____</h1>

		<h4><u>Description:</u></h4>
		<p>
		1st line of description<br>
		2nd line of description<br>		
		3rd line of description<br>
		etc...<br>
		</p>

		<p>If problem required backgroung explanation above, put main instruction here. eg: "Write a function to return the nth Fibonacci number, given n as a parameter. Otherwise, delete this line</p><br>

		<h5><u>Sample Input:</u></h5>
		<p>
		1st example line of input<br>#include <iostream>
		2nd example line of input<br>
		3rd example line of input
		</p>

		<h5><u>Sample Output:</u></h5>
		<p>
		1st example line of output<br>
		2nd example line of output<br>
		3rd example line of output
		</p>
	</div>
</div>